<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Parser | Выбор источника</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div class="content">
        <h1>Выберите источник</h1>
        <div class="sources-block">
            <div class="main_source">
                <a href="lifehacker" class="link">Лайфхакер</a>
            </div>
            <ul class="another_sources">
                <li class="source_item mailru">
                    <a href="mailru" class="link">
                        <span class="logo">
                            @
                        </span>
                        Mail.ru
                    </a>
                </li>
                <li class="source_item nnru">
                    <a href="nnru" class="link">
                        <span class="logo">
                            <span class="block_1"></span>
                            <span class="block_2"></span>
                        </span>
                        NN.ru
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>