<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Статьи | Lifehacker</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div class="content">
        <p class="logo">Лайфхакер</p>
        <p class="info">
            Взято с: <a href="{{articles.url}}" target="_blank">{{articles.url}}</a>
        </p>
        <p class="info">
            Актуальность статей: <b>{{articles.creationDate}}</b>
        </p>
        <ol>
            {% for post in articles.articles %}
                <li>
                    <p><a href="{{post.link}}" target="_blank">{{post.title}}</a></p>
                    <p><i>Описание:</i> {{post.descr}}</p>
                    <p>
                        {% for tag in post.tags %}
                            <span class="tag">{{tag}}</span>
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>